* {
  font-family: sans-serif;
}

h2 {
  color: #333333;
}

body {
  max-width: 400px;
  text-align: center;
}
input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 4px;
  color: black;
}
input:focus {
  border: 1px solid #333;
  outline: none;
}
button {
  font-size: 14px;
  color: #fff;
  background-color: #d75500;
  border: 1px solid #d75400;
  border-radius: 4px;
  padding: 8px;
}
button:hover{
  cursor: pointer;
}
